<h1>Index</h1>
<div class="row">
    {{#each articles}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{#if user}}
                    {{{editIcon user.id ../user.id id}}}
                {{/if}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p class="article-text">{{{stripTags (truncate body 150)}}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="Contact Person">
                    {{user.firstName}} {{user.lastName}}
                </div>
                <p>Likes: {{articleLikes}}</p>
                <p>Comments: {{comments.length}}</p>
                <p>Edited: {{edited}}</p>
            </div>
            <div class="card-action center-align">
            <a class="btn grey" href="/articles/show/{{id}}">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No articles found</p>
    {{/each}}
</div>