<div class="row">
    <div class="col s12 m9">
        <div class="card article">
            <br>
            <h3 class="center-align">{{article.title}}
                <small>{{{editIcon article.user.id user.id article.id false}}}</small>

            </h3>
            <div class="card-content">
                <span class="card-title">Posted: {{formatDate article.date}}</span>
                <br>
                {{{article.body}}}
                <br>
                <form action="/articles/like/{{article.id}}" method="POST">
                    <input type="submit" value="Like" class="btn">
                </form>
                <br>
                <div class="row">
                    <div class="col s4">Comments: {{article.comments.length}}</div>
                    <div class="col s4">Likes: {{article.articleLikes}}</div>
                    <div class="col s4">Edited: {{article.edited}}</div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Comments</span>
                <form action="/articles/comment/{{article.id}}" method="POST">
                    <div class="input-field">
                        <textarea name="commentBody" class="materialize-textarea"></textarea>
                        <label>Add Comment</label>
                    </div>
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
        </div>
        {{#each article.comments}}
        <div class="card">
            <div class="card-content">
                <h5>{{commentBody}}</h5>
                <div class="chip">
                    <img src="{{commentUser.image}}">
                    {{commentUser.firstName}} {{commentUser.lastName}}
                </div>
                <br>
                <small>Likes: {{commentLikes}}</small>
                <small>Posted: {{formatDate commentDate}}</small>
                <br>
                <form action="/articles/comment/like/{{_id}}" method="POST">
                    <input type="submit" value="Like" class="btn">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col s12 m3">
        <div class="card center-align">
            <span class="card-title">{{article.user.firstName}} {{article.user.lastName}}</span>
            <img src="{{article.user.image}}" class="circle responsive-img">
            <div class="card-action">
                <a class="link-color" href="#{{article.user.id}}">More From {{article.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>